.mobileNav {
    position: absolute;
    z-index: 1080;
    height: 100%;
    width: 80%;
    background-color: #fff;
    left: 20%;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
    display: block;
}

.navBtn {
    display: block;
    margin: 50px 0;
    height: 60px;
    line-height: 20px;
    padding: 20px;
}

.navBtn:hover {
    background-color: #c6c6c6;
    color: #fff;
}

.activeNavBtn {
    background-color: #c6c6c6;
    color: #fff;
}



